.aside {
  /* border: 1px solid gray; */
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem;
}
.listItem {
  width: 100%;
}
.profileLink {
  background-color: var(--color-nav-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: var(--active-text);
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0;
  border-bottom: 1px solid transparent;
  border-radius: 0.3rem;
}

.profileLink:hover {
  /* background-color: var(--color-menu-btn); */
  border-bottom: 1px var(--border-bottom);
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 2rem;
}

.label {
}
@media (max-width: 760px) {
  .aside {
    grid-row: 1;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profileLink {
    padding: 2rem 0;
  }
  .icon {
    top: 2rem;
    /* left: 1rem; */
  }
}
