.aside {
  /* border: 1px solid gray; */
  position: relative;
}

.mobileMenuBtn {
  display: none;
}
.mobile {
  display: block;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem;
}
.listItem {
  width: 100%;
}
.profileLink {
  background-color: var(--color-nav-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: var(--active-text);
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem 0;
  border-bottom: 1px solid transparent;
  border-radius: 0.3rem;
}

.profileLink:hover {
  border-bottom: 1px var(--border-bottom);
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 2rem;
}

.label {
}

@media (max-width: 850px) {
  .profileLink {
    font-size: 1.4rem;
  }
}

@media (max-width: 760px) {
  .aside {
    grid-row: 1;
  }
  .mobile {
    display: none;
  }
  .mobileMenuBtn {
    display: block;
    background-color: var(--card-bg);
    padding: 1.5rem 2rem 1rem;
    position: absolute;
    top: -0.3rem;
    font-size: 2rem;
    border-radius: 0.3rem;
  }
  .notClicked {
    box-shadow: 0 2px 4px #00000081;
  }
  .clicked {
    box-shadow: inset 0 2px 4px #00000081;
    transition: all 0.1s ease;
  }

  .web {
    width: 100%;
    background-color: var(--color-header);
    position: absolute;
    top: 6.3rem;
    border-radius: 0.5rem;
    opacity: 0;
    animation: menuFadeIn 0.3s ease-in-out forwards;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profileLink {
    padding: 2rem 0;
    /* font-size: 1.8rem; */
    font-size: clamp(1.4rem, 3vw, 2rem);
    font-weight: 300;
  }
  .icon {
    top: 2rem;
    /* left: 1rem; */
  }
  @keyframes menuFadeIn {
    from {
      opacity: 0;
      transform: translate(-10px, -80px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 375px) {
}
