.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 2rem;
}

.closeBtn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.closeBtn:hover {
  transform: rotate(90deg) translate(-0.4rem, 0.3rem);
  /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5)); */
}
.closeIcon {
  font-size: 3rem;
}

.heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form .input {
  background-color: var(--color-input);
  padding: 0.1rem 1rem;
  font-size: 1.6rem;
  color: var(--color-main);
  border-color: var(--input-border);
  border-radius: 0.3rem;
}

.input::placeholder {
  font-size: 1.2rem;
  color: var(--color-nav-link);
  opacity: 0.5;
}

.authInfo {
  align-self: flex-end;
  font-size: 1.4rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.backBtn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.backBtnElement {
  color: var(--color-nav-link);
}
.arrow {
  margin-top: 0.6rem;
}

.authBtn {
  font-weight: 500;
  color: var(--color-selected);
  transition: all 0.3s ease;
}
.authBtn:hover {
  color: var(--color-selected-tint);
}

.forgotten {
  font-size: 1.2rem;
  color: var(--color-nav-link);
  margin-top: 0.8rem;
  text-align: right;
  text-decoration: underline;
}

.passContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.passContainer .input {
  width: 80%;
}

.passEyeBtn {
  padding: 0rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  .container {
    /* padding: 1rem 0 2rem; */
    min-width: 310px;
  }
  .secondaryContainer {
    padding: 5rem 0rem;
  }
}
