.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.509);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}

.modalBg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.fullInfo {
  /* background-color: var(--color-header); */
  min-width: 250px;
  margin-inline: 5px;
  background-color: var(--color-header);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem;
  color: var(--color-main-dark);
  border-radius: 0.5rem;
  opacity: 0;
  animation: modalFadeIn 0.3s ease-in-out forwards;
  overflow-y: auto;
}
.noBackground {
  animation-duration: 0s;
  background-color: transparent;
  align-items: center;
}

button.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

.width600 {
  min-width: 600px;
  max-width: 1000px;
}
.width700 {
  min-width: 700px;
  max-width: 1000px;
}
.width800 {
  min-width: 800px;
  max-width: 1200px;
}

.userHeight {
  max-height: 600px;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-100px, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 760px) {
  .width600,
  .width700,
  .width800 {
    width: unset;
    max-width: 500px;
    min-width: 90%;
  }
}
