.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.509);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}

.modalBg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.fullInfo {
  /* background-color: var(--color-header); */
  background-color: var(--color-header);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem;
  color: var(--color-main-dark);
  border-radius: 0.5rem;
  opacity: 0;
  animation: modalFadeIn 0.3s ease-in-out forwards;
}

button.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-100px, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
