.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  margin-bottom: 1rem;
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 2rem;
}

.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 7rem;
}

.imgContainer {
  width: 40%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.4rem 0rem #0205214f;
}

.infoBlock {
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 0 0;
}

.lessonHeading {
  font-weight: 400;
  margin-bottom: 2rem;
}

.infoElement {
  font-size: 2rem;
}

.infoElement:nth-child(even) {
  background-color: var(--color-header-even);
}

.infoElement span {
  font-size: 1.2rem;
  margin-right: 1rem;
  text-transform: uppercase;
  color: var(--color-main-btn);
}

.description {
  font-weight: 200;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: 1px solid var(--lesson-link-border);
  border-radius: 0.3rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--color-main-btn);
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

.link:link,
.link:visited,
.link:focus {
  background-color: var(--color-main-btn);
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

.daysBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 200;
  margin-top: 5rem;
}

.daysContainer,
.hoursContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daysContainer {
  width: 100%;
}

.hoursContainer {
  width: 50%;
}

.dayBox {
  width: calc(100% / 7 - 6px);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  border: var(--card-border);
  border-radius: 0.3rem;
}

.activeDay {
  background-color: rgb(4, 155, 4);
  color: #ededed;
}

.inactiveDay {
  background-color: #ededed;
  color: rgb(4, 155, 4);
}

@media (max-width: 650px) {
  .section {
    flex-direction: column;
    gap: 0;
  }

  .imgContainer {
    width: 100%;
  }
  .infoBlock {
    flex: 1 0 20rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0;
  }
}
