:root {
  &,
  /* light mode */
  &.light {
    --color-body: #fff;
    --color-input: #fff;
    --color-header: #fdfdfd;
    --color-main: #3e4756;
    --color-label: #6079a5;
    --color-nav-link: #3e4756;
    --color-nav-link-hover: #465268;
    --input-border: #001e3136;
    --color-footer-bg: #0873ba;
    --color-menu-btn: #28a8e3;
    --card-bg: rgb(250, 249, 249);
    --card-border: 1px solid #46526842;
    --color-line: #f1f1e6;
  }

  /* dark mode */
  &.dark {
    --color-body: #3e4756;
    --color-main: #fff;
    --color-nav-link: #f1f1e6;
    --color-nav-link-hover: #acac8e;
    --color-input: #626872;
    --color-header: #2e3644;
    --color-footer-bg: #2e3644;
    --input-border: #ccac1c80;
    --color-menu-btn: #f1f1e6;
    --card-bg: #2e3644c4;
    --color-line: #3e434e;
    --color-label: #ffd823;
    --card-border: 1px solid #58570d;
  }
  /* main styles */
  --color-footer-fonts: #fdfdfd;
  --color-selected-tint: #53b9e9;
  --color-selected: #28a8e3;
  --color-selected-shade: #2086b6;
  --color-main-btn-tint: #ffe04f;
  --color-main-btn: #ffd823;
  --link-border: #ffd823;
  --color-main-btn-shade: #ccad1c;
  --color-title: #f25141;
  --border-bottom: solid #ffd823;
}
