:root {
  &,
  /* light mode */
  &.light {
    --color-body: #fff;
    --color-main: #3e4756;
    --color-header: ##fdfdfd;
  }

  /* dark mode */
  &.dark {
    --color-body: #3e4756;
    --color-main: #fff;
    --color-header: #2e3644;
  }
  /* main styles */
  --color-footer-bg: #0873ba;
  --color-selected-tint: #53b9e9;
  --color-selected: #28a8e3;
  --color-selected-shade: #2086b6;
  --color-main-btn-tint: #ffe04f;
  --color-main-btn: #ffd823;
  --color-main-btn-shade: #ccad1c;
  --color-title: #f25141;
}
