@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
  background-color: var(--color-body);
}

body #root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  color: var(--color-main);
}

* {
  transition: all 0.1s ease;
}

.active,
.active:visited,
.active:focus {
  background-color: var(--color-nav-hover);
  border-radius: 0.3rem;
  color: var(--active-text);
}

@media (max-width: 600px) {
  .active,
  .active:visited,
  .active:focus {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    color: var(--active-text);
  }
}
