@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body #root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  color: var(--color-main);
}
