@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
  background-color: var(--color-body);
}

body #root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  color: var(--color-main);
}

* {
  transition: all 0.2s ease;
}
