/*
# TYPOGRAPHY
    - FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - FONT WEIGHTS:
        Default: 400

    - LINE HEIGHTS:
        Default: 1


# SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
html {
  font-size: 62.5%;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Sofia Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}

h1 {
  font-size: 3rem;
  color: var(--color-main);
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
