.figure {
  background-color: var(--card-bg);
  width: 32rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  border: var(--card-border);
}

.imgContainer {
  width: 100%;
  height: 23.5rem;
  border-bottom: 1px solid var(--color-main-btn-tint);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0rem;
}

.heading {
  width: fit-content;
  align-self: center;
  margin: 1rem 0;
  border-bottom: 0.1rem var(--border-bottom);
}

.titleInfo {
  align-self: flex-end;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0 1rem 1.5rem;
  color: var(--card-border);
}
.additional {
  font-size: 2.2rem;
  color: red;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.line:nth-of-type(odd) {
  background-color: var(--color-line);
}

.line span {
  font-size: 1.2rem;
  letter-spacing: 0.5;
  margin-right: 0.5rem;
  color: var(--color-label);
  text-transform: uppercase;
  margin-right: auto;
}
.btnContainer {
  margin-top: 2rem;
}
.lessonBtn {
  width: 100%;
  background-color: var(--color-menu-btn);
  color: var(--color-header);
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.6rem 0;
}

@media (max-width: 760px) {
}
@media (max-width: 600px) {
  .figure {
    width: 32rem;
  }
}
