.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  margin-bottom: 1rem;
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 6rem 4rem;
}

.lessons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem 6rem;
  place-items: center;
}

.scrollToTop {
  display: none;
}

@media (max-width: 960px) {
}

@media (max-width: 760px) {
  .lessons {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    align-items: center;
    row-gap: 18rem;
  }
  .scrollToTop {
    display: block;
    background-color: var(--color-main-btn);
    width: fit-content;
    position: fixed;
    right: 5%;
    top: 92%;
    padding: 0.8rem 2rem;
    border-radius: 3px;
  }
}
@media (max-width: 600px) {
  .lessons {
    gap: 8rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
  .secondaryContainer {
    padding: 5rem 0rem;
  }
}
