.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  margin-bottom: 1rem;
}

.headingNoSkaters {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem;
}

.skatersContainer {
  background-color: var(--color-header);
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 1rem 2rem;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: var(--card-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.figureHeading {
  align-self: start;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
  border-bottom: 1px var(--border-bottom);
}

.actionContainer {
  display: flex;
  gap: 0.2rem;
  margin-left: auto;
  padding-right: 1rem;
}

.actionBtn {
  background-color: var(--action-btn);
  display: grid;
  place-items: center;
  font-size: 2rem;
  width: 100%;
  padding: 0.6rem 1rem;
  color: var(--active-text);
  border: var(--card-border);
  border-radius: 0.3rem;
}

.content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
}

.element {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-transform: uppercase;
  color: var(--color-header-dim);
}

.elSpan {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  color: var(--color-menu-btn);
  margin-right: 0.3rem;
}

.addSkaterBtnContainer {
  display: flex;
  justify-content: end;
}

.addBtn {
  background-color: var(--color-main-btn);
  padding: 1rem 2rem;
  color: var(--text-dark);
  font-size: 1.8rem;
  border-radius: 0.3rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.par {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-indent: 1.2rem;
  color: var(--color-nav-link);
}

@media (max-width: 765px) {
  .heading {
    margin-bottom: 3rem;
  }

  .figureHeading {
    margin: 2rem 0 0 2rem;
    font-weight: 400;
  }

  .actionContainer {
    flex-direction: column;
    margin: 1rem 0.6rem 0 0;
  }
}

@media (max-width: 375px) {
  .figureHeading {
    margin: 4rem 0 0 0rem;
    font-weight: 400;
  }

  .actionContainer {
    flex-direction: column;
  }
}