.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  margin-bottom: 1rem;
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 2rem;
}
