.container,
.modalContainer {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.modalContainer {
  padding: 4rem 2rem 2rem;
}

.closeBtn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.closeBtn:hover {
  transform: rotate(90deg) translate(-0.6rem, 0.6rem);
  /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5)); */
}

.closeIcon {
  font-size: 3rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  /* margin-bottom: 1rem; */
}

.headingActions {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.headingDate {
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  align-self: flex-end;
  margin-left: 1rem;
}

.actionBtn {
  background-color: var(--action-btn);
  align-self: center;
  display: grid;
  place-items: center;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: var(--active-text);
  transition: all 0.2s ease-in-out;
  border: var(--card-border);
  border-radius: 0.3rem;
}
.actionBtn:hover {
  background-color: var(--color-header-dim);
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: inset 0 1px 6px var(--box);
  border-radius: 0.3rem;
}

.sectionHeading {
  font-size: 1.8rem;
  color: var(--color-header-dim);
}

.headingNoSkaters {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  padding: 2rem;
}

.equipmentContainer {
  margin-bottom: 4rem;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  border-radius: 0.3rem;
  border-bottom: var(--card-border);
}

.figure:nth-child(odd) {
  background-color: var(--color-header-even);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a.skateItem:link,
a.skateItem:visited,
a.skateItem:focus {
  color: var(--color-header);
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.skateItem:hover .element {
  color: var(--color-header-dim);
}

.skateItem {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}

/* .actionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

/* .actionBtn {
  background-color: var(--action-btn);
  display: grid;
  place-items: center;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  color: var(--active-text);
  border: var(--card-border);
  border-radius: 0.3rem;
} */

.element {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-menu-btn);
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

label.label {
  position: absolute;
  background-color: var(--color-header);
  color: var(--placeholder);
  padding-inline: 0.6rem;
  top: 2rem;
  left: 0.5rem;
  font-size: 1.4rem;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elSpan {
  font-size: 1.2rem;
  color: var(--color-header-dim);
  margin-right: 0.5rem;
}

.textarea {
  background-color: var(--color-header);
  padding: 0.4rem 1rem 0.2rem;
  font-size: 1.8rem;
  color: var(--color-nav-link);
  border: 1px solid var(--input-border);
  border-radius: 0.3rem;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:is(:focus) {
  outline: none;
}
.textarea:is(:focus) ~ label.label,
.filled {
  color: var(--color-nav-link);
  transform: translate(10%, -120%) scale(0.9);
}

@media (max-width: 760px) {
  .headingDate {
    margin-left: 1rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 1rem 0 2rem;
  }
  .skateItem {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    padding: 0;
  }
  .element {
    padding: 0;
  }
}
