.figure {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem 0rem;
  border-bottom: var(--card-border);
  position: relative;
}

.buttonContainer {
  position: relative;
  width: 65%;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.closeBtn:hover {
  transform: rotate(90deg) translate(-0.6rem, 0.6rem);
  /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5)); */
}

.closeIcon {
  font-size: 3rem;
}

.heading,
.headingModal {
  font-weight: 300;
  margin-left: 5rem;
}

.additional {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  font-size: 1.6rem;
  margin-left: auto;
}

.isNotPresent,
.isNotPaid {
  position: absolute;
  top: -0.6rem;
  width: 3rem;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  color: var(--paragraph);
  opacity: 0.3;
  transition: all 0.3s ease-out;
  border: 1px solid var(--lesson-link-border);
  border-radius: 0.3rem;
}

.isHere {
  background-color: green;
  opacity: 1;
  color: #fff;
  font-weight: 700;
  right: 15%;
  transform: translateX(190%);
}

.isHere:disabled {
  opacity: 0.6;
}

.isNotPaid {
  position: absolute;
  transform: translateX(-32rem);
  visibility: hidden;
  opacity: 0;
}

.viewMoney {
  transform: translateX(0rem);
  opacity: 0.3;
  visibility: visible;
}

.gotMoney {
  opacity: 1;
  background-color: var(--lesson-link-border);
}

.skaterProps {
  background-color: var(--color-header-even);
  width: 100%;
  display: grid;
  place-content: center;
  position: relative;
  height: 3rem;
  border: var(--color-main);
  border-radius: 0.3rem;
}

.infoBlock {
  color: red;
}

/* MODAL */

.modalContainer {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0.5rem;
}

.headingModal {
  border-bottom: 1px solid var(--lesson-link-border);
}

.parentInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 1.6rem;
  color: var(--paragraph);
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.label {
  background-color: var(--card-bg);
  position: absolute;
  top: -0.8rem;
  right: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--lesson-link-border);
  padding-inline: 0.8rem;
  border-radius: 0.5rem;
}

.parentELement {
  display: flex;
  font-size: 1.6rem;
}

.parentName {
  font-size: 1.8rem;
}

.spanIcon {
  margin: 0.2rem 0.5rem 0 0;
  color: var(--lesson-link-border);
}

.additionalContent {
  font-size: 1.6rem;
}

.textarea {
  all: unset;
  width: 100%;
  color: var(--color-menu-btn);
  resize: none;
}

@media (max-width: 600px) {
  .heading,
  .headingModal {
    font-size: 1.8rem;
  }

  .isHere {
    transform: translateX(170%);
  }
  .modalContainer {
    width: 55rem;
  }
}

@media (max-width: 480px) {
  .parentInfo {
    flex-direction: column;
  }
  .isHere {
    transform: translateX(150%);
  }
  .modalContainer {
    width: 45rem;
  }
}

@media (max-width: 430px) {
  .figure {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0rem;
  }

  .buttonContainer {
    width: 100%;
  }

  .heading,
  .headingModal {
    margin-left: 5rem;
  }

  .isHere {
    right: 17%;
    transform: translateX(180%);
  }
  .modalContainer {
    width: 40rem;
  }
}

@media (max-width: 375px) {
  .isHere {
    right: 17%;
    transform: translateX(160%);
  }
  .modalContainer {
    width: 34rem;
  }
}
