@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
.div {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 1rem 0 2rem;
}
.calendar-styles {
  .react-datepicker {
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    /* border: 1px solid #aeaeae; */
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
  }
  input {
    font-size: 20px;
    background-color: rgb(206, 180, 180);
  }
  .react-datepicker__input-container {
    position: relative;
    display: inline-block;
    /* width: 100%; */
  }
  .react-datepicker__week {
    font-size: 2rem;
  }
  .react-datepicker__month-container {
    /* панел с дните */
    background-color: var(--color-body);
    /* width: 400px; */
    display: flex;
    flex-direction: column;
  }

  /* лента с името на месеца */
  .react-datepicker__header {
    background-color: var(--color-nav-hover);
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }
  .react-datepicker__current-month {
    background-color: var(--color-nav-hover);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.2;
    border-radius: 0.3rem;
    color: var(--color-header) !important;
  }

  .react-datepicker__day-names {
    /* color: var(--color-header); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.9rem;
    white-space: nowrap;
    margin-bottom: 0;
  }

  /* day names */
  .react-datepicker__day-name {
    font-size: 1.4rem;
    color: var(--color-header-even);
  }
  .react-datepicker__month {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem;
  }
  .react-datepicker__week {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
  }

  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    background-color: rgba(0, 206, 0, 0.336);
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 0.3rem;
  }
  .react-datepicker__day:hover {
    background-color: rgb(18, 163, 18, 0.336);
  }

  .react-datepicker__day--disabled,
  .react-datepicker__day--disabled:hover {
    background-color: unset;
    color: var(--calendar-disabled);
    cursor: not-allowed;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--selected:focus {
    background-color: var(--color-main-btn);
  }
  .react-datepicker__day--today {
    background-color: unset;
    color: green;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.527);
  }

  /* navigation buttons */
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    left: 2px;
    display: none;
  }
}

@media (max-width: 765px) {
  .react-datepicker__week {
    font-size: 1rem;
  }
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 46px;
    height: 46px;
  }
}
@media (max-width: 480px) {
  /* .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 37px !important;
    height: 37px !important;
  } */
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    width: 36.5px !important;
    height: 38.5px !important;
  }
  .react-datepicker__day-names {
    gap: 2.3rem !important;
  }
}
@media (max-width: 375px) {
  .react-datepicker__day-names {
    gap: 1.7rem !important;
  }
  /* .div {
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  } */
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    width: 32.5px !important;
    height: 33.5px !important;
  }
}
