.headingNoSkaters {
  font-size: 2rem;
  font-weight: 300;
}

.figure:nth-child(odd) {
  background-color: var(--color-header-even);
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: var(--card-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.figureHeading {
  align-self: start;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
  border-bottom: 1px var(--border-bottom);
}

.group {
  font-size: 1.6rem;
}
.date {
  font-size: 1.4rem;
}

.actionContainer {
  /* display: grid;
  grid-template-columns: 30px 1fr 1fr;
  align-items: center; */
}

.inNotOK {
  color: red;
}
