.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  /* font-size: 2rem; */
  font-weight: 300;
  word-spacing: 0.3rem;
  margin: 0 2rem 1rem auto;
  border-bottom: 1px var(--border-bottom);
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 3rem 4rem;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  cursor: default;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.articleHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imageWrapper {
  position: relative;
  width: 10rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--color-menu-btn);
  padding: 0.2rem;
}

.imageWrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.articleTitle {
  font-weight: 500;
  color: var(--color-menu-btn);
}

.articleTitle > span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-label);
}

.articleBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articleBody p {
  text-indent: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.linkPrimary {
  text-decoration: none;
  width: fit-content;
  background-color: var(--color-main-btn);
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0.2rem 1.5rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

.linkPrimary:hover {
  background-color: var(--color-main-btn-tint);
}

@media (max-width: 760px) {
  .news {
    grid-template-columns: 1fr;
  }

  .article {
    margin-bottom: 3rem;
  }

  .imageWrapper {
    width: 8rem;
  }

  .articleBody p {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .news {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .article {
    margin-bottom: 2rem;
  }

  .imageWrapper {
    width: 6rem;
  }

  .articleBody p {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 1rem 0 2rem;
  }
}
