.rotate {
  width: 20%;
  /* margin: 50% auto; */
  transform: translate(50%, 50%);
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}