.container {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 2rem;
}

.closeBtn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.closeBtn:hover {
  transform: rotate(90deg) translate(-0.4rem, 0.3rem);
}

.closeIcon {
  font-size: 3rem;
}

.heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}

/* /// */

.figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: var(--card-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.figureHeading {
  align-self: start;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2rem;
  border-bottom: 1px var(--border-bottom);
}

.content {
  width: 80%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr)); */
  grid-template-columns: 1fr 1fr;
}
.additional {
  grid-row-end: 5;
}
.element {
  font-size: 1.8rem;
  color: var(--color-menu-btn);
}

.elSpan {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  color: var(--color-header-dim);
}

@media (max-width: 765px) {
  .heading {
    margin-bottom: 3rem;
  }

  .figureHeading {
    margin: 0 0 20px 0;
    font-weight: 400;
  }

  .actionContainer {
    flex-direction: column;
    margin: 1rem 0.6rem 0 0;
  }
}
@media (max-width: 510px) {
  .content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .additional {
    grid-row-end: 7;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 45rem;
  }
  .content {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 35rem;
  }
}
