.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem 2rem;
}

.heading {
  width: fit-content;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  margin-left: auto;
  border-bottom: 1px var(--border-bottom);
  margin-bottom: 1rem;
}

.secondaryContainer {
  background-color: var(--color-header);
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.leftPanel,
.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  /* padding: 2rem 1rem 2rem 0;
  border-right: 1px solid gray; */
}

.headInfo {
  background-color: var(--color-lesson-info);
  padding: 1.7rem;
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--color-main);
  border-radius: 0.3rem;
  box-shadow: inset 0 1px 6px var(--box);
}

.secondaryHeading {
  width: fit-content;
  align-self: center;
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 300;
  border-bottom: var(--card-border);
  /* border-bottom: 1px solid var(--color-main-btn); */
}
.thirdHeading {
  color: var(--color-selected-shade);
}
.link {
  text-decoration: none;
  color: var(--color-selected-shade);
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-header-dim);
}

.dayPickerHeading {
  font-weight: 200;
}

.skaterContainer {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-selected-shade);
  padding: 0 0 0.5rem 0.5rem;
}
.skaterName {
  font-size: 1.8rem;
  color: var(--color-selected-shade);
}
.skaterSelection {
  width: 1.6rem;
  aspect-ratio: 1/1;
}

.userChoice {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem 1.5rem;
}
.selectContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-main-btn);
}

.label {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  /* color: var(--color-header-dim); */
}

.label label {
  padding: 0 0 0.1rem 0rem;
}
.select {
  background-color: var(--color-header-even);
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.2rem 1rem;
  align-self: center;
  border-radius: 0.3rem;
}

.conditions {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.checkbox {
  margin-left: 1rem;
  width: 1.3rem;
  aspect-ratio: 1/1;
}

@media (max-width: 900px) {
  .secondaryContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (max-width: 765px) {
}
@media (max-width: 480px) {
}
@media (max-width: 375px) {
  .secondaryContainer {
  }
}
