.list {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}

@media (max-width: 800px) {
  .logo {
    height: 40px;
  }
  .nav {
    display: none;
  }
  .mobileNav {
    display: block;
    margin-left: auto;
  }
  .mobileList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 600px) {
  .logo {
    height: 30px;
  }
}
