.list {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  font-size: 1.8rem;
}

.menuPanel {
  display: flex;
  align-items: center;
}

.lang {
  width: 3.5rem;
  margin-right: 1rem;
}

.link,
.link:visited,
.listItemBtn {
  color: var(--color-nav-link);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.link:hover,
.listItemBtn:hover {
  color: var(--color-nav-link-hover);
  border-bottom: 1px solid var(--link-border);
}

.iconBtn {
  position: absolute;
  top: 2.4rem;
}
.lastInLine {
  margin-right: 2rem;
}

@media (max-width: 760px) {
  .menuPanel {
    /* background-color: var(--color-body); */
    background-color: var(--color-footer-bg);
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 4rem 0.3rem 1rem;
    border: 1px solid var(--color-footer-bg);
    border-radius: 0.3rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .listItem {
    width: 100%;
    padding: 0 2rem;
    border: 0.1rem solid transparent;
    /* border-bottom: 1px solid var(--color-footer-bg); */
    border-bottom: 1px solid var(--color-body);
    transition: all 0.2s ease-in-out;
  }
  .listItem:hover {
    /* background-color: var(--color-footer-bg); */
    background-color: var(--color-body);
    /* border: 0.1rem solid var(--color-body); */
    border: 0.1rem solid var(--color-footer-bg);
  }

  .link,
  .link:visited,
  .listItemBtn {
    /* color: var(--color-footer-bg); */
    color: var(--color-body);
  }
  .link:active,
  .listItem:hover .link,
  .listItem:hover .listItemBtn {
    /* color: var(--color-body); */
    color: var(--color-footer-bg);
  }
}
@media (max-width: 600px) {
  .logo {
    height: 30px;
  }
}
